{% extends 'base.html' %}

{% block title %} {{ article.title }} {% endblock title %}

{% block content %}
    <h3>{{ article.title }}</h3>
    <hr>
    {% if article.author == user %}
    <p>
        <a href="{% url 'edit' article.id %}" class="link-secondary">Rediģēt rakstu</a> | 
        <a href="{% url 'delete' article.id %}" class="link-secondary">Dzēst rakstu</a>
    </p>
    {% endif %}
    <br>
    <p>{{ article.text }}</p>
    
        <div class="row justify-content-md-center">
            <div class="col col-md-8">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                {% for image in images %}
                    {% if forloop.first %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                            <img class="d-block w-100" src="{{ image.image.url }}" alt="slide image" style="height: 500px; ">
                        </div>
                {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true" id=""></span>            
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true" id=""></span>  
                    </button>
                </div>
            </div>
        </div>
       
{% endblock content %}