{% extends 'base.html' %}


{% block title %} Izveidot rakstu {% endblock title %}

{% block content %}
    <h3>Izveidojiet jaunu rakstu!</h3>
    <hr>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
            
                    <div class="mb-3">
                        <label for="id_title" class="form-label">Virsraksts:</label>
                        {{form.title}}
                    </div> 
                    <div class="mb-3">
                        <label for="id_text" class="form-label">Teksts:</label>
                        {{form.text}}
                    </div>
                    <div class="mb-3">
                        <label for="id_image" class="form-label">Augšuplādējiet attēlus:</label>
                        <input class="form-control" type="file" multiple name="image" id="image">
                    </div>   
                    <div class="mb-3">
                        <label for="id_category" class="form-label">Izvēlaties kategoriju:</label>
                        {{form.category}}
                    </div>          
            <button type="submit" class="btn btn-primary">Apstiprināt</button>
    </form>
{% endblock content %}