{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Izveidot rakstu {% endblock title %}

{% block content %}
    <h3>Izveidojiet jaunu rakstu!</h3>
    <hr>

    <form method="POST" action="/edit/{{article.id}}/">
        {% csrf_token %}
            
                    <div class="mb-3">
                        <label for="title" class="form-label">Virsraksts:</label>
                        <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}"/>
                        {% render_field form.title class="form-control" placeholder="Teksts..." rows="3" %}
                    </div> 
                    <div class="mb-3">
                        <label for="text" class="form-label">Teksts:</label>
                        <input type="text" name="text" id="text" class="form-control" value="{{ article.text }}"/>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Augšuplādējiet attēlu:</label>
                        <input type="file" name="image" id="image" class="form-control" src="{{ article.image }}"/>
                    </div>    
                    <select value="{{article.category}}">
                        <option value="" selected>---------</option>
                        <option  value="Parki" name="" id="">Parki</option>
                        <option value="Kultūras objekti" name="" id="">Kultūras objekti</option>
                    </select>
        
            <button type="submit" class="btn btn-primary">Apstiprināt</button>
    </form>
{% endblock content %}