{% extends 'base.html' %}

{% block title %} Sākumlapa {% endblock title %}

{% block content %}
    {% for article in articles %}
   <div class="article-item py-3 mb-4" style="background-color: rgb(240, 249, 253);">
    <a href="{% url 'article' article.id %}" class="article-link">
        <h3>{{ article.title }}</h3>
        <p>{{ article.text|safe }}</p>
        <p>{{ article.pub_date }}</p>
        {% if article.category != None %}
        <p>Kategorija: <strong>{{ article.category }}</strong></p>
        {% endif %}
    </a>
    {% if article.author == user %}
        <p>
            <a href="{% url 'edit' article.id %}" class="link-secondary">Rediģēt rakstu</a> | 
            <a href="{% url 'delete' article.id %}" class="link-secondary">Dzēst rakstu</a>
        </p>
    {% endif %}
   </div>
    {% endfor %}

    <div class="pagination ">
        <span class="step-links">
            {% if articles.has_previous %}
                <a href="?page={{ articles.previous_page_number }}" style="color:black;">iepriekšējā</a>
            {% endif %}
    
            <span class="current">
                Lapa {{ articles.number }} no {{ articles.paginator.num_pages }}.
            </span>
    
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}" style="color:black;">nākošā</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}
