{% extends 'base.html' %}

{% block title %} Sākumlapa {% endblock title %}

{% block content %}
    {% for article in articles %}
   <div class="article-item py-3 mb-4" style="background-color: rgb(240, 249, 253);">
    <a href="{% url 'article' article.id %}" class="article-link">
        <h3>{{ article.title }}</h3>
        <p>{{article.text}}</p>
        <p>{{ article.pub_date }}</p>
        {% if article.category != None %}
        <p>Kategorija: <strong>{{ article.category }}</strong></p>
        {% endif %}
    </a>
    {% if article.author == user %}
        <p>
            <a href="{% url 'edit' article.id %}" class="link-secondary">Rediģēt rakstu</a> | 
            <a href="{% url 'delete' article.id %}" class="link-secondary">Dzēst rakstu</a>
        </p>
    {% endif %}
   </div>
    {% endfor %}
{% endblock content %}
