body{
    margin: 0px;
    padding: 0px;
}

.article-link{
    text-decoration: none;
    color: black;
}

.article-block{
    background-color: lightgray;
}

.category-description{
    font-weight: bold !important;
    font-style: italic !important;
}